<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223077597552-42ulod86cet86htkjp2ps4dlqfh592nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223077597552-42ulod86cet86htkjp2ps4dlqfh592nn</string>
	<key>API_KEY</key>
	<string>AIzaSyAM1NshpCkNfgHNcgtbmRA0RpKd5R3NLKM</string>
	<key>GCM_SENDER_ID</key>
	<string>223077597552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vinicius.AnotaAi</string>
	<key>PROJECT_ID</key>
	<string>anotaai-2fbb5</string>
	<key>STORAGE_BUCKET</key>
	<string>anotaai-2fbb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223077597552:ios:892798a21d5561da458fb5</string>
</dict>
</plist>